strong {
    color: plum;
}

body {
    padding: 50px 20%;
}

h1{
    color: plum;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    color: plum;
}

h2 {
    text-align: right;
    border-bottom: 1px solid lightslategray;
    color: plum;
}

hr {
    width: 50%;
    border: 1px dotted lightslategray;
}

p {
    color: darkslategray;
    font-family: Georgia, serif;
    text-align: justify;
}

#differencengine{
    color: red;
}

.diffEngine {
    font-style: italic;
}