h1, h2, h3, strong {
    color: plum;
}

body {
    padding: 0px 20%;
}

h1, h3 {
    text-align: center;
}

h2 {
    text-align: right;
    border-bottom: 1px solid lightslategray;
}

hr {
    width: 50%;
    border: 1px dotted lightslategray;
}

p {
    color: darkslategray;
    font-family: Georgia, serif;
    text-align: justify;
    font-style: italic;
}